<p style="color: green"><%= notice %></p>

<h1>My Blog</h1>
<!--
<div id="contacts">
  <% @contacts.each do |contact| %>
    <%= render contact %>
    <p>
      <#%= link_to "Show this contact", contact %>
    </p>
  <% end %>
</div>
-->
<div id="personal">
  
    <h2>Nombre: Juan Luis Mansilla</h2>
    <h2>Email: jlmansilla@gmail.com</h2>
    <h2>Perfil:</h2>
    <p>Soy un rebelde porque el mundo me hizo así, me gusta tocar guitarra y leer, y me la paso perdiendo el tiempo en Internet</p>
    
  
</div>

<%= link_to "New contact", new_contact_path %>
